<h2>User Info</h2>

<%= form_with model: @user, url: user_registration_path, local: true do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, value: current_user.name %>
  </div>

    <tr>
      <td>
      <%= form_with(model: @user, local: true) do |f| %>
            <%= f.label :image %><br>
            <%= f.file_field :image %>
            <% if current_user.image.attached? %>
              <p>現在の画像: <br>
              <%= image_tag current_user.image %></p>
            <% else %>
              <p>現在の画像: <br>
              <%= image_tag "no_image.jpg", alt: "No image available" %></p>
            <% end %>
          <% end %>
      </td>
    </tr>

    <div class="field">
    <%= f.label :introduction %><br>
    <%= f.text_area :introduction, value: current_user.introduction %>
  </div>

  <div class="actions">
    <%= f.submit "Update User" %>
<% end %>