<%= render 'layouts/header' %>
<%= render 'layouts/flash' %>

<div class="container px-5 px-sm-0">
<div class="row">
<div class="col-md-3">
  <%= render 'users/indexinfo', user: @user %>
</div>
<div class="col-md-8 offset-md-1">
  <h1> Users </h1>
  <table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
    </tr>
  </thead>
<tbody>
<tr>
<% @users.each do |user| %>
<td>
<% if user.image.attached? %>
<p><%= image_tag user.image %></p>
<% else %>
<p><%= image_tag "no_image.jpg", alt: "No image available" %></p>
<% end %>
</td>
<td><%= user.name %></td>
<td><%= link_to "Show", user_path(user) %></td>
</tr>
<% end %>
</tbody>
</table>
</div>
</div>
</div>

<%= render 'layouts/footer' %>