
<h2>User Info</h2>

<div class="user-image text-center mb-3">
  <% if current_user.profile_image.attached? %>
    <%= image_tag current_user.profile_image, class: "img-fluid rounded-circle" %>
  <% else %>
    <%= image_tag "no_image.jpg", alt: "No image available", class: "img-fluid rounded-circle" %>
  <% end %>
</div>

<table class="table">
  <tbody>
    <tr>
      <th><strong>Name</strong></th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th><strong>Introduction</strong></th>
      <td><%= @user.introduction %></td>
    </tr>
  </tbody>
</table>

<div class="text-center mb-4">
  <a class="btn btn-outline-secondary edit_user_546" href="<%= edit_user_path(current_user) %>">
    <i class="fas fa-user-cog"></i>
  </a>
</div>

<h2>New book</h2>
  <%= form_with model: @book_new do |f| %>
    <div class="mb-2">
      <%= f.label :title, 'Title' %><br>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="mb-2">
      <%= f.label :body, 'Opinion' %><br>
      <%= f.text_area :body, class: "form-control book_body", id: "book_body" %>
    </div>

  <div>
    <%= f.submit "Create Book", class: "btn btn-success btn-block" %>
  </div>
<% end %>



