<%= render 'layouts/header' %>

<h1> User Info </h1>
<%= render 'layouts/info', user: @user %>

<%= form_with model: @book do |f| %>
  <div>
    <%= f.label :title, 'Title' %> <br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body, 'Opinion' %> <br>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.submit "Create Book" %>
  </div>
<% end %>


<h1> Book detail </h1>

<% if current_user.image.attached? %>
<p><%= image_tag current_user.image %></p>
<% else %>
<p><%= image_tag "no_image.jpg", alt: "No image available" %></p>
<% end %>
<%= @book.user.name %>
<%= @book.title %>
<p><%= @book.body %></p>

<% if @book.user == current_user %>
  <%= link_to 'Edit', edit_book_path(@book) %> |
  <%= link_to 'Destroy', @book, method: :delete, data: { confirm: '本当に削除しますか？' } %>
<% end %>


  <%= render 'layouts/footer' %>

