<%= render 'layouts/header' %>

<main>
<p id="notice"><%= render 'layouts/flash' %></p>
  <div class="container px-5 px-sm-0">
    <div class="row">
    <div class="col-md-3">
      <%= render 'books/newbookinfo', book: @book_new %>
    </div>
    <div class="col-md-8 offset-md-1">
    <h2> Book detail </h2>
    <table class="table">
    <tbody>
      <tr>
        <td>
          <% if @book.user.image.attached? %>
          <%= image_tag @book.user.image, size: "80x80" %>
          <% else %>
          <%= image_tag "no_image.jpg", alt: "No image available" %>
          <% end %><br>
          <%= link_to @book.user.name, user_path(@book.user) %>
        </td>
        <td>
          <%= link_to @book.title, book_path(@book) %>
          <p><%= @book.body %></p>
        </td>
        <% if @book.user == current_user %>
        <td>
          <%= link_to "Edit", edit_book_path(@book), class: "btn btn-sm btn-success" %>
        </td>
        <td>
          <%= link_to "Destroy", book_path(@book), method: :delete, data: { confirm: "本当に消しますか？" }, class: "btn btn-sm btn-danger" %>
        </td>
        <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</main>

  <%= render 'layouts/footer' %>

