<h1> User Info </h1>
<tbody>
<tr>
<td>
<% if current_user.image.attached? %>
<p><%= image_tag current_user.image %></p>
<% else %>
<p><%= image_tag "no_image.jpg", alt: "No image available" %></p>
<% end %>
</td>
</tr>
</tbody>

<div> Name  <%= current_user.name %> </div>
<div> Introduction  <%= current_user.introduction %> </div>
<%= link_to '編集ボタン', edit_user_registration_path %>

<%= form_with model: Book.new, url: user_books_path(current_user) do |f| %>
  <div>
    <%= f.label :title, 'Title' %> <br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body, 'Opinion' %> <br>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.submit "Create Book" %>
  </div>
<% end %>
<%= render 'layouts/footer' %>