<%= render 'layouts/header' %>


<div class="container px-5 px-sm-0">
<div class="container">
<div class="row">
<div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
<h2><%= @model.capitalize %> search for "<%= @content %>"</h2>

<% if @records.present? %>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
    </thead>
    <tbody>
      <% @records.each do |record| %>
  <% 
    user_for_image = record.respond_to?(:user) ? record.user : record
    title = record.try(:title) || record.try(:name)
    body = record.try(:body)
  %>
        <tr>
          <td>
            <% if user_for_image.profile_image.attached? %>
              <%= image_tag user_for_image.profile_image, size: "100x100" %>
            <% else %>
              <%= image_tag "no_image.jpg", alt: "No image available", class: "img-fluid rounded-circle" %>
            <% end %>
          </td>
          <td><%= link_to title, book_path(record.id) %></td>
          <td><%= truncate(body, length: 100) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>該当する結果がありません。</p>
<% end %>
</div>
</div>
</div>
</div>