<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <div class="navbar-brand">
        <span class="HOME">
          <%= link_to "Bookers", root_path %>
        </span>
        </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li>
        <a class="nav-link text-light", href ="<%= user_path(current_user.id) %>">
          <i class="fa-solid fa-home"></i> Home
        </a>          
      </li>
      <li>
        <a class="nav-link text-light" href="<%= users_path %>">
          <i class="fa-solid fa-users"></i> Users
        </a>          
      </li>
      <li>
        <a class="nav-link text-light" href="<%= books_path %>">
          <i class="fa-solid fa-book-open"></i> Books
        </a>          
      </li>
      <li>
        <a class="nav-link text-light" rel="nofollow" data-method="delete" href="<%= destroy_user_session_path %>">
          <i class="fa-solid fa-sign-out-alt"></i> Log out
        </a>         
      </li>
    </div>
  </nav>
</header>