<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <div class="navbar-brand">
        <span class="HOME">
          <%= link_to "Bookers", root_path %>
        </span>
        </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li>
        <a class="nav-link text-light", href ="<%= user_path(current_user.id) %>">
        <i class="fa-solid fa-house"></i> Home
        </a>          
      </li>
      <li>
        <a class="nav-link text-light" href="<%= users_path %>">
          <i class="fa-solid fa-users"></i> Users
        </a>          
      </li>
      <li>
        <a class="nav-link text-light" href="<%= books_path %>">
          <i class="fa-solid fa-book-open"></i> Books
        </a>          
      </li>
      <li>
        <a class="nav-link text-light" rel="nofollow" data-method="delete" href="<%= destroy_user_session_path %>">
          <i class="fa-solid fa-sign-out-alt"></i> Log out
        </a>         
      </li>
    </div>
  </nav>

  <div class="container px-5 px-sm-0">
  <div class="container">
  <div class="row">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  <% if user_signed_in? %>
  <div class="search-form">
    <%= form_with url: search_path, method: :get, local: true do %>
      <%= select_tag :model, options_for_select([["ユーザー", "user"], ["投稿", "book"]]), prompt: "検索対象" %>
      <%= select_tag :method, options_for_select([
            ["完全一致", "perfect"],
            ["前方一致", "forward"],
            ["後方一致", "backward"],
            ["部分一致", "partial"]
          ]), prompt: "検索方法" %>
      <%= text_field_tag :content, params[:content], placeholder: "キーワードを入力" %>
      <%= submit_tag "検索" %>
    <% end %>
  </div>
<% end %>
</div>
</div>
</div>
</div>
</header>