<tbody>
  <tr>
    <td>
      <% if current_user == @user %>
        <p><%= current_user.name %></p>
        <% if current_user.image.attached? %>
          <p><%= image_tag current_user.image %></p>
        <% else %>
          <p><%= image_tag "no_image.jpg", alt: "No image available" %></p>
        <% end %>
      <% else %>
        <p><%= @user.name  %></p>
        <% if @user.image.attached? %>
          <p><%= image_tag @user.image %></p>
        <% else %>
          <p><%= image_tag "no_image.jpg", alt: "No image available" %></p>
        <% end %>
      <% end %>
    </td>
  </tr>
</tbody>